@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.test {
  @apply
  bg-strong-cyan
  bg-very-dark-cyan
  bg-dark-grayish-cyan
  bg-slighty-lighter-grayish-cyan
  bg-light-grayish-cyan
  bg-slighty-lighter-garyish-cyan
  bg-hsl-white
}